{% extends 'base.html' %}

{% block title %}
delete post
{% endblock title %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class='ui negative message'>
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
   
    {% else %}
        <div class="card" style="width: 50%; padding: 20px;">
            <h3>Delete post?</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete the post?</p>
                <button class="btn btn-danger" type='submit'>Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock body %}